<p>Hello <%= @resource.email %>!</p>

<p>Your reset password token:</p>

<p><%= @token %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you use this token.</p>
